a {
    color:#87A96B;
    align-content: center;
}

a:hover{
    color: #3c5b22;
}

.linksDiv{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    margin-top: 3em;
    font-size: 30px;
}

*{
    align-content: space-between;
}